body{
	background: black;
}

#game{
	position: absolute;
	top: 50%;
	left:50%;
	

	background: white;
    -webkit-transform:translate(-50%,-50%);
}





*{ font-family: 'VT323', monospace;
}


.bg{
    width: 1292px;
    height: 656px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("./images/Mario.jpg");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;
}

.button{
 
    color: rgb(204, 54, 54);
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 66px;
    margin-left:16px;
    margin-right:486px;
    margin-top: 40px;
  }
.button a{
    cursor: pointer;
    text-decoration: none;
    color: rgb(204, 39, 39) ;
    background-color: #e64b4050;
    border-radius: 12px;
}
.poziomy{
    
    position:absolute;
    right: -210px;
    top: 145px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    color: rgb(204, 54, 54);
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 66px;
    margin-left:16px;
    margin-right:486px;
    margin-top: 40px;
}
.poziomy a {
    cursor: pointer;
    text-decoration: none;
    color: rgb(204, 39, 39) ;
    background-color: #e64b4050;
    border-radius: 12px;
}
.poziomy:target{
    visibility: visible;
    opacity: 1;
}

.controls{
    
    position:absolute;
    flex-wrap: wrap;
    right: -470px;
    top: 145px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    color: rgb(204, 54, 54);
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 26px;
    margin-left:16px;
    margin-right:486px;
    margin-top: 40px;
}
.controls a {
    cursor: pointer;
    flex-wrap: wrap;
    text-decoration: none;
    color: rgb(204, 39, 39) ;
    background-color: #e64b4050;
    border-radius: 12px;
}
.controls:target{
    visibility: visible;
    opacity: 1;
}

.score{
    position:absolute;
    right: 450px;
    top: 145px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    padding: 5px 32px;
    text-align: center;
    text-decoration: none;
    border-radius: 12px;
    font-size: 36px;
    margin-left:16px;
    margin-right:386px;
    margin-top: 40px;
    text-decoration: none;
    color: rgb(204, 39, 39) ;
    background-color: #e64b4050;
    border-radius: 12px;
    white-space: normal;
    }
.score:target{
    visibility: visible;
    opacity: 1; 
}

.hide{
    display: none;
}

.credits{
    position:absolute;
    right: 410px;
    top: 2px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
    color: rgb(180, 36, 36);
    padding: 5px 32px;
    text-align: left;
    text-decoration: none;
    border-radius: 12px;
    font-size: 21px;
    margin-left:16px;
    margin-right:386px;
    margin-top: 40px;
}
.credits a {
    text-decoration: none;
    color: rgb(206, 52, 52) ;
    background-color: #531611e7;
    border-radius: 12px;
    }

.credits:target{
    visibility: visible;
    opacity: 1;
}
